<div>
    <h1>Add New Item</h1>
    <form>
        <input type="text" name="name" id="name" placeholder="Item Name">
        <textarea name="description" id="description" cols="30" rows="10" placeholder="Item Description"></textarea>
        <input type="text" name="price" id="price" placeholder="Item Price">
        <input type="number" name="phone" id="phone" placeholder="Phone Number">
        
            <input type="text" name="address" id="address" placeholder="Street Address">
            <input type="text" name="city" id="city" placeholder="City">
            <input type="text" name="state" id="state" placeholder="State">
            <input type="number" name="zip" id="zip" placeholder="Zip Code">
        
    </form>
</div>