<h1>
  Hello
</h1>
{{#if searchResult}}
  <div class="m-auto row">
    {{#each searchResult}}
      <div class="col">
        <div class="card m-auto" style="width: 18rem;">
          <img src="#" class="card-img-top" alt="..." />
          <div class="card-body">
            <h4 class="card-title">
              {{this.itemName}}
            </h4>
            <p class="card-text">
              {{this.itemDescription}}
            </p>
            <p>
              {{distanceFixed this.distanceFromSearch}}
            </p>
          </div>
        </div>
      </div>
    {{else}}
      <h3>
        No items
      </h3>
    {{/each}}
  </div>
{{/if}}