<div class="container">
    <div class="row">
            <div class="card disp-card" style="width: 18rem;">
                <img src="/Files/PEO_M4_Carbine_RAS_M68_CCO.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{this.itemName}}</h5>
                    <p class="card-text">{{this.itemDescription}}</p>
                    <h6 class="card-subtitle mb-2 text-muted">Type</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Price</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Contact</li>
                    <li class="list-group-item">Address</li>
                    <li class="list-group-item">City / State</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Edit</a>
                    <a href="#" class="card-link">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>