<div class="row no-gutters bg-light mt-2 justify-content-center">
  <div class="jumbotron jumbotron-fluid mt-2 bg-transparent">
    <div class="container m-2 text-center">
      <h1 class="display-4 text-info">Share, Rent, or Buy Awesome Stuff</h1>
      <p class="lead">The Easiest Way to Find Greatness!!!</p>
    </div>
  </div>
</div>


<script src="scripts/home.js"></script>