<div class="row no-gutters bg-light mt-2 justify-content-center" id="home-header">
  <div class="jumbotron jumbotron-fluid mt-2 bg-transparent">
    <div class="container m-2 text-center">
      <h1 class="display-4 text-info"><strong>Share, Rent, or Buy Awesome Stuff</strong></h1>
      <blockquote class="blockquote">
        <p>The Easiest Way to Find Greatness!!!</p>
      </blockquote>     
    </div>
  </div>
</div>

<script src="scripts/home.js"></script>