<div class="row no-gutters justify-content-center" style="margin-bottom: 3rem;">
    <div class="col-md-8">
        <label for="exampleInputEmail1">Current user position</label>
        <div class="form-row">
            
            <div class="col">
                <input type="text" class="form-control" id="user_lat">
            </div>
            <div class="col">
                <input type="text" class="form-control" id="user_lon">
            </div>
        </div>
    </div>
    <div class="col-md-8" style="margin-top: 3rem;">
        <label for="exampleInputEmail1">Entered location coordinates</label>
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" id="loc_lat">
            </div>
            <div class="col">
                <input type="text" class="form-control" id="loc_lon">
            </div>
        </div>
        <p id="dist_res"></p>
    </div>
</div>
<div class="row no-gutters justify-content-center">
    <div class="col-md-8">
        <form>
            <div class="form-row>">
                <div class="form-group">
                    <label for="exampleInputEmail1">Street</label>
                    <input type="text" class="form-control" id="Street" aria-describedby="streetHint">
                    <small id="streetHint" class="form-text text-muted">Enter your street</small>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="exampleInputEmail1">City</label>
                    <input type="text" class="form-control" id="City">
                </div>
                <div class="col">
                    <label for="exampleInputEmail1">State</label>
                    <input type="text" class="form-control" id="State">
                </div>
                <div class="col">
                    <label for="exampleInputEmail1">Zip Code</label>
                    <input type="text" class="form-control" id="Zip">
                </div>
            </div>
        </form>

        <button onclick="getPos()">Try It</button>
        <p id="demo"></p>
    </div>
</div>

<script>
//-----------------------------------------------------------------------------
    //Get current user's browser location
    var options = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
    };
    function success(pos) {
        var crd = pos.coords;
        document.getElementById("user_lat").value = `${crd.latitude}`;;
        document.getElementById("user_lon").value = `${crd.longitude}`;
    }
    function error(err) {
        console.warn(`ERROR(${err.code}): ${err.message}`);
    }
    navigator.geolocation.getCurrentPosition(success, error, options);
//----------------------------------------------------------------------------
//----------------------------------------------------------------------------
    function getPos() {
        var street = document.getElementById("Street").value.split(' ').join('+');
        var city = document.getElementById("City").value;
        var state = document.getElementById("State").value;
        var zip = document.getElementById("Zip").value;
        var url = "http://nominatim.openstreetmap.org";
        var search = "/search?q=" + street + ",+" + city + "+" + state + "+" + zip + "+&format=json&polygon=0"
        var payload = {
            Url: url,
            Search: search
        }
        var response;

        //Post data
        var req = new XMLHttpRequest();
        req.open('POST', url+search, true)
        req.setRequestHeader('Content-Type', 'application/json');
        req.addEventListener('load', function () {
            //Process response
            if (req.status >= 200 && req.status < 400) {
                var cord = JSON.parse(req.responseText);
                document.getElementById("loc_lat").value = cord[0].lat;
                document.getElementById("loc_lon").value = cord[0].lon;
                getDist();
            } else {
                console.log("Error in network request: " + req.statusText);
            }
        }); 
        req.send(JSON.stringify(payload));       
    }

    function getDist(){
        var destLat = document.getElementById("loc_lat").value;
        var destLon = document.getElementById("loc_lon").value;
        var userLat = document.getElementById("user_lat").value;
        var userLon = document.getElementById("user_lon").value;

        payload = {
            destLat: destLat,
            destLon: destLon,
            userLat: userLat,
            userLon: userLon
        }
        
        var req = new XMLHttpRequest();
        req.open('POST', '/locate' , true)
        req.setRequestHeader('Content-Type', 'application/json');
        req.addEventListener('load', function () {
            //Process response
            if (req.status >= 200 && req.status < 400) {
                var resp = JSON.parse(req.responseText);
                document.getElementById("dist_res").innerText = "Dist: " + resp.distText + " or " + resp.distVal + " meters; Duration: " + resp.durText + " or " + resp.durVal + " seconds"
            } else {
                console.log("Error in network request: " + req.statusText);
            }
        });
        req.send(JSON.stringify(payload));
    }

</script>